{% extends 'board/base.html' %}

{% block content %}
<h2>Останні оголошення</h2>
<!-- ads = Ad.objects.filter(is_active=True)  # ← QuerySet з моделі views.py-->
{% if ads %}
{% for ad in ads %}
<div class="ad-card">
    <h3><a href="{% url 'board:ad_detail' ad.id %}">{{ ad.title }}</a></h3>
    <p>{{ ad.get_short_description }}</p>
    <p class="price">{{ ad.price }} грн</p>
    <div class="meta">
        <span>Категорія: <strong>{{ ad.category.name }}</strong></span> |
        <span>Автор: {{ ad.user.username }}</span> |
        <span>{{ ad.created_at|date:"d.m.Y H:i" }}</span>
    </div>
    <a href="{% url 'board:ad_detail' ad.id %}" class="btn" style="margin-top: 1rem;">Детальніше</a>
</div>
{% endfor %}

<p style="text-align: center; margin-top: 2rem;">
    <a href="{% url 'board:ad_list' %}" class="btn">Переглянути всі оголошення</a>
</p>
{% else %}
    <p>Оголошень поки немає.</p>
{% endif %}
{% endblock %}